/****************** RESETS *****************/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
/*****************STRUCTURE******************/
html, body{
	height: 100%;
}
body{
	margin: 0 auto;	
	
}
header{

}
section{
	padding: 1%;
}
#cta{
	background-color: #fff;
	padding: 1%;
}

footer{
	background-color: #333337;
	clear: both;
	padding: 2%;
	color: #fff;
	/*background: #333337 url(../images/logo_u80.png) no-repeat 1% 1%;*/
}

ul li{
	padding-top: 4%;
}
.col1of2{
	margin: 1%;
	padding:1%;
	text-align: center;
}
.col1of2 i{
	padding: 6%;
}

.col1of3{
	margin: 1%;
	padding:1%;
}
#event img{
	max-width: 100%;
}
#cta img{
	max-width: 100%;
}
.hero{
	background: url("../images/Downtown-Seattle.jpg") no-repeat center center fixed;
}
.hero h1, .hero p{
	text-align: center;
	color: #fff;
}

/*.color-overlay{
	background-color: rgba(0, 0, 0, 0.7);
	opacity: .5;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}*/
#nav-collapse{
	color: #fff;
	position: absolute;
	top: 40px;
	right: 0;
	padding: 3%;
}
/*******************fonts*********************/

h1,h2,h3,h4,h5,h6{
	font-weight: bold;
	font-family: 'Muli', Helvetica, sans-serif;
	line-height: 1.5;

}
p, li{
	font-family: 'Muli', Helvetica, sans-serif;
	line-height: 1.5;
}
#cta p{
	padding-top: 3%;
}
#cta h1, #cta h2, #cta h3,#cta h4,#cta h5,#cta h6{
	padding: 1%;
}
h1{
	font-size:1.313em;
}
h2{
	font-size: 1.125em;
}
h3{
	font-size: 1em;
}	
.hero h1{
	font-size: 2em;
}

.hero p{
	font-size: 1.5em;
}
#copy{
	font-size: x-small;
}

/****************NAVIGATION******************/
#main-nav{
	background-color: #575757;
	padding: 1%;
	display: none;
}
#main-nav li {
	list-style-type: none;
	display: block;
	padding: 1%;
}
#main-nav li a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: .875em;
	color: #fff;
	
}
#top-nav{
	margin: 1%;
	padding: 1%;
	position: absolute;
	top: 0;
	right: 0;
}
#top-nav li{
	list-style-type: none;
	display: block;
	padding: 1%;
	width: 115px;
}

#top-nav li a{
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 3px;
}

/***********slideshow*********************/
#slideshow img{
	max-width: 100%;
}

/*************Media Queries ************/

/* tablet*/

@media all and (min-width:37.5em) {
	#main-nav{
		position: absolute;
		top: 4.375em;
		right: 0;
		width: 60%;
		display: block !important;
	}
	
	#main-nav li {
		display: inline;
		width: 25%;
		padding: 5%;
	}
	#nav-collapse{
		display: none;
		color: #fff;
	}
	#top-nav li{
		padding: 1%;
		
	}
	#cta{
		width: 100%;
		float: left;
	}
	#cta img{
		height: 250px;
		width: 380px;
	}
	
	.col1of2{
		float: left;
		width: 48%;
		text-align: left;
	}
	.col1of2 i{
		padding-right:9%;
		padding-left: 0%;
	}
	
	.col1of3{
		float: left;
		width: 31%;
	}
	
	.main-content{
		width: 66%;
		float: left;
		min-height: 400px;
	}
	.main-content h2 , .main-content p{
		width: 100%;
		float: left;
	}
	#about h2, #about p, #event p{
		width: 66%;
		float: left;
		
	}
	#about img{
		float: left;
		padding-left: 1%;
	}
	aside{
		width: 33%;
		float: right;
		padding: 1%;
	}
	
	aside p{
		width:100%;
		float: none;
	}
	
	.hero{
		min-height: 400px;
	}
	.hero h1{
		font-size: 5.375em;
	}
	#event img{
		width: 66%;
	}
	footer{
		
	}
	#footer-img{
		float: right;
		margin-top: -27%;
		padding-right: 2%;
	}
	
}


/* PC*/

@media all and (min-width:57.75em) {
	body{
		width: 100%;
	}
	
	#main-nav li {
		padding: 8%;
	}
	#footer-img{
		margin-top: -16%;
	}
}


/* Big PC*/

@media all and (min-width:81.25em) {

}