/****************** RESETS *****************/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
/*****************STRUCTURE******************/
html, body{
	height: 100%;
}
body{
	margin: 0 auto;	
	
}
header{

}
section{
	padding: 1%;	
}
#cta{
	background-color: #fff;
	padding: 1%;
}

ul li{
	padding-top: 4%;
}
.col1of2{
	margin: 1%;
	padding:1%;
	text-align: center;
}
.col1of2 i{
	padding: 6%;
}

.col1of3{
	margin: 1%;
	padding:1%;
}
#event img{
	max-width: 100%;
}
#cta img{
	max-width: 100%;
}
section.hero{
	padding: 0 !important;
	margin-top: -2%;
}
.hero{
	background: url("../images/Downtown-Seattle.jpg") no-repeat center center fixed;
}

.hero img{
	z-index: 1;
	position: absolute;
	top: 10px;
	left: 20px;
	right: 0;
}
.hero h1, .hero p{
	text-align: center;
	color: #fff;
	position: absolute;
	right: 0;
	left: 0;
	z-index: 1;
}
.hero p{
	top: 160px;
}
.hero h1{
	top: 200px;
}

.color-overlay{
	background-color: rgba(0, 0, 0, 0.7);
	position: relative;
	opacity: 0.7;
	height: 420px;

}

/*******************fonts*********************/

h1,h2,h3,h4,h5,h6{
	font-weight: bold;
	font-family: 'Muli', Helvetica, sans-serif;
	line-height: 1.5;

}
p, li{
	font-family: 'Muli', Helvetica, sans-serif;
	line-height: 1.5;
}
#cta p{
	padding-top: 3%;
}
#cta h1, #cta h2, #cta h3,#cta h4,#cta h5,#cta h6{
	padding: 1%;
}

#cta a{
	text-decoration: none;
	color: #888888;
	text-transform: uppercase;
}
h1{
	font-size:1.313em;
}
h2{
	font-size: 1.125em;
}
h3{
	font-size: 1em;
}	
.hero h1{
	font-size: 2em;
}

.hero p{
	font-size: 1.5em;
}
#copy{
	font-size: x-small;
}

/****************NAVIGATION******************/
#main-nav{
	background-color: #575757;
	padding: 3%;
	display: none;
	z-index: 1;
	position: relative;
}
#main-nav li {
	list-style-type: none;
	display: block;
	padding: 1%;
}
#main-nav li a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: .875em;
	color: #fff;
	
}
#top-nav{
	margin: 1%;
	padding: 1%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}
#top-nav li{
	list-style-type: none;
	display: block;
	padding: 1%;
	width: 115px;
}

#top-nav li a{
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 3px;
}
#nav-collapse{
	color: #fff;
	position: absolute;
	top: 40px;
	right: 0;
	padding: 3%;
	z-index: 2;
}

/***********slideshow*********************/
#slideshow img{
	max-width: 100%;
}

/**********************FOOTER******************/
footer{
	background-color: #333337;
	
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	margin-top: 80px;
	overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */



.footer-distributed .footer-right p{
	vertical-align: top;
	margin-bottom: 2%;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}



/*************Media Queries ************/
/*xs phone*/
@media all and (max-width: 20em){
	.hero p{
		font-size: 1.2em;
	}
}


/* tablet*/

@media all and (min-width:37.5em) {
	#main-nav{
		position: absolute;
		top: 4.375em;
		right: 0;
		width: 50%;
		display: block !important;
		z-index: 1;
		padding: 1%;
	}
	
	#main-nav li {
		display: inline;
		width: 25%;
		padding: 5%;
	}
	#nav-collapse{
		display: none;
		color: #fff;
	}
	#top-nav li{
		padding: 1%;
		
	}
	#cta{
		width: 100%;
		float: left;
	}
	#cta img{
		height: 250px;
		width: 380px;
	}
	
	.col1of2{
		float: left;
		width: 48%;
		text-align: left;
	}
	.col1of2 i{
		padding-right:9%;
		padding-left: 0%;
	}
	
	.col1of3{
		float: left;
		width: 31%;
	}
	
	.main-content{
		width: 66%;
		float: left;
		min-height: 400px;
	}
	.main-content h2 , .main-content p{
		width: 100%;
		float: left;
	}
	#about h2, #about p, #event p{
		width: 66%;
		float: left;
		
	}
	#about img{
		float: left;
		padding-left: 1%;
	}
	aside{
		width: 33%;
		float: right;
		padding: 1%;
	}
	
	aside p{
		width:100%;
		float: none;
	}
	
	.hero{
		min-height: 420px;
	}
	.hero h1{
		font-size: 3.375em;
		line-height: 1.2;
	}
	#event img{
		width: 66%;
	}
	footer{
		
	}
	#footer-img{
		float: right;
		margin-top: -27%;
		padding-right: 2%;
	}
	.footer-distributed .footer-right{
		float: left;
	}
	
}


/* PC*/

@media all and (min-width:57.75em) {
	body{
		width: 100%;
	}
	
	#main-nav li {
		padding: 8%;
	}
	#footer-img{
		margin-top: -16%;
	}
	.hero h1{
		font-size: 5.375em;
	}
	/***this puts the contact form to the right side of the footer****/
	.footer-distributed .footer-right{
		float: right;
	}
}


/* Big PC*/

@media all and (min-width:81.25em) {

}